//everything that is reusable – buttons, navbars, cards, and so on
.btn {
    background: $btn-gradiant;
    color: $white-color;
     font-family: 'Roboto';
     font-size: $btn-text-font-size;
     font-weight: $normal-font-weight;
    border-radius: $btn-radius;
    box-shadow: $btn-shadow;
    border: none;
    padding: 15px 19px;
   
}

.btn__presentation {
    margin: 10px 0 15px;
}

.btn-nouveau {
    display: flex;
    position: absolute;
    align-self: flex-end;
  
    background: $light-green-color;
    color: $dark-green-color;
    font-weight: $medium-font-weight;
    
    border: none;
    border-radius: $btn-nouveau-radius;
    padding: 7px 12px;
    margin: 12px;

    
}


///cards
.fonctionnement__card {
    @include flex-row ($width: 85%);
    padding: 25px 0;
    background-color: $bg-light-grey-color;
    border-radius: $fonctionnement-radius;
    box-shadow: $fonctionnement-shadow;
    font-weight: $medium-font-weight;

    .fonctionnement__stepNumber {
        @include flex-row($justify-content: unset);
        width: 93%;
        position: absolute;
        
        .fa-circle {
            color: $primary-color;
            font-size: 24px;
        }

        .stepNumber {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6%;
            position: absolute;
            color: $white-color;
            bottom: 4px;
        // color: red;
        }

    }

    .card__fonctionnement__content {
        @include flex-row($justify-content:unset);
        gap: $default-gap;
        padding-left: 45px;

        .fonctionnement__text {
            font-size: $small-title-font-size;
            font-weight: $medium-font-weight;;
        }
    }
}

.card__restaurant {
   @include flex-col-start;
   width: 90%;
    border-radius: $card-radius;
    background-color: $white-color;

    .restaurant__img__btn {
        display: flex;
        flex-direction: column;

        .restaurant__img {
            border-radius: $card-radius $card-radius 0  0  ;
            height: 190px;
            width: 100%;
            object-fit: cover;
        }
    }
    
    
    .restaurant__content {
        @include flex-row($justify-content: space-between);
        padding-bottom: 20px;
     
        .restaurant__description {
            @include flex-col-start;
            gap: 5px;
            padding-left: 15px;
        }
        .restaurant__favorite {
            font-size: 24px;
            padding: 0 24px
        }
    }

}
