// all the Sass code handling the layout, which is the container and grid systems
body{
//    add font-family
margin: 0;
box-sizing: border-box;

font-family: "Roboto", sans-serif, "Shrikhand" ;
}

.mainContainer{
    max-width: 1440px;
}

h1, 
h2, 
h3, 
p {
    margin: $default-margin;
}

// @media (min-width: $breakpoint-mobile) {

.mainContainer{
    @include flex-col-center;
}
////Header et footer sont pareils dans toutes les pages

.header{
    @include flex-col-center;
    width: 100%;

    //////nav Bar
    .navBar {
        @include flex-col-center;
        width: 100%; 

        .nav__logo {   
           
            @media (min-width: $breakpoint-mobile) {
             width: $width-logo;   
             padding: 22px 0 15px;  
            }
            @media (min-width: $breakpoint-desktop) {
                width: 20%;
                padding: 30px 0 32px;
            }


             ///mobile
           
        }

        .nav__location {
            @include flex-row-center;
            width: 100%;
            padding: 15px 0;
            gap: 17px;
            background-color: $bg-medium-grey-color;
            color: $bg-dark-grey-color;
            font-size: $small-title-font-size;
            font-weight: $normal-font-weight;

            &__text {
                font-size: $normal-text-font-size;
                font-weight: $medium-font-weight;
            }
        }
    
    }

    .presentation {
        @extend .header;
        text-align: center;
        padding: $padding-main-content;
        background-color: $bg-light-grey-color;

        @media (min-width: $breakpoint-mobile) {
            gap: 20px;
        }

        @media (min-width: $breakpoint-desktop) {
            gap: 30px;
        }

        &__title {
            
            font-weight: $bold-font-weight;
            width: 65%;
            @media (min-width: $breakpoint-mobile) {
                font-size: $h1-font-size-mobile;
            }
            
            @media (min-width: $breakpoint-desktop) {
                font-size: $h1-font-size-desktop;
            }
        }

        &__subtitle {
            font-size: $medium-title-font-size;
            font-weight: $light-font-weight;
            width: 85%

        }
    }
}

.footer {
    ///mobile
    @media (min-width: $breakpoint-mobile) {
        @include flex-col-unset;
        width: 100%;
    }

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 0;
        // justify-content: end;
        align-items: flex-end;
        
    }
    
    background-color: $bg-dark-grey-color;
    color: $white-color;
    gap: $default-gap;
    
    &__logo {
        width: 100px;
        filter: invert(1);

        @media (min-width: $breakpoint-mobile) {
          padding: 24px 0 0 24px;
         }
       
         @media (min-width: $breakpoint-mobile) {
            padding: 24px 24px 0 24px;
           }
    }

    &__content {
        width: 80%;
        
       .link__icon {
            margin-right: 5px;
            width: 25px;
       }
               
        .link--bold {
            font-weight: $medium-font-weight;
            // width: 170px;
            // gap: 5px;
        }

        .link--light {
            font-weight: $normal-font-weight;
            // gap: 10px;
            
        }
        @media (min-width: $breakpoint-mobile) {
           @include flex-col-unset;
           gap: 7px;
           padding: 0 24px 24px 24px;

           .links--bold, 
           .links--light {
            display: flex;
            flex-direction: column;
            gap: 7px;
           }
           
        }

        @media (min-width: $breakpoint-desktop) {
            display: flex;
            flex-direction: row;
            padding-bottom: 0;
            justify-content: flex-end;
            gap: 35px;

            .links--bold,
            .links--light {
            @include flex-row-unset;
            // gap: 10px;
        }
         }
        
        
        
    }

}





//////Partie uniquement pour la page d'accueil
.main {
    @include flex-col-center;
    width: 100%;
    
    .fonctionnement {
        @include flex-col-unset;
        width: 100%;
        padding: $padding-main-content;
        gap: $default-gap * 2;
        

        &__title {
            @include section-title;
        }

        &__list {
            @include flex-col-center;
            gap: $default-gap + 10;
            padding: 10px 0;
        }

    }

    //////cards restaurants
    .restaurants {
        @include flex-col-center;
        align-items: unset;
        width: 100%;
        gap: 20px;
        background-color: $bg-light-grey-color;
        padding: 45px 0;

        &__title {
            @include section-title;
            
        }
       
        &__cards {
            @include flex-col-center;
            gap: 18px;
            
        }
    }
}

//////Partie uniquement pour la page des recettes
///////
/// 
.nav__logo__page {
    width: $width-logo;
}
.main__restaurant {
    @include flex-col-unset;
    width: 100%;
    border-radius: $card-radius $card-radius 0  0;

    &__img {
        z-index: 0;
    }
    
    &__content {
        @include flex-col-unset;
        width: 100%;
        gap: 40px;
        padding:  30px 0 40px; 
        margin-top: -45px;
        background-color: $bg-light-grey-color;
        border-radius: $card-radius + 15 $card-radius + 15 0  0;
        z-index: 2 ;
   
    }
}

.header__restaurant{
    @include flex-row-center;
    margin: 24px 0 10px 0;
    width: 100%;

    .navBar__restaurant {
        @include flex-row-center;
        width: 100%;

        .fa-arrow-left {
            align-self: baseline;
            position: absolute;
            font-size: 24px;
            left: 17px;
        }
    }
}

.svg__arrow__back {
    @include default-hyperlink;
}
.restaurant__header {
    @include flex-row-unset;
    width: 90%;
    justify-content: space-between;
    
    .restaurant__name {
        font-size: $h1-font-size-mobile + 4;
        font-family: 'Shrikhand';
        font-weight: $normal-font-weight;
        padding-left: $padding-left-default;
    }

    .restaurant__favorite__page {
        font-size: $h1-font-size-mobile ;
        align-self: center;
    }
}

.restaurant__menu {
    @include flex-col-unset;
    gap: 40px;
    padding: 0 10px;
    
}

// }



// @media (min-width: 1024px) {

//     .footer {
//         @include flex-row-unset;
//     }}







