// all the Sass code handling the layout, which is the container and grid systems
body{
//    add font-family
margin: 0;
box-sizing: border-box;

font-family: "Roboto", sans-serif, "Shrikhand" ;
}

.mainContainer{
    max-width: 1440px;
}

h1, 
h2, 
h3, 
p {
    margin: $default-margin;
}

@media (min-width: 320px) {

.mainContainer{
    @include flex-col-center;
}
////Header et footer sont pareils dans toutes les pages
//////revoir "extends"
.header{
    @include flex-col-center;

    .presentation {
        @extend .header;
        text-align: center;
        padding: $padding-main-content;
        gap: 20px;
        background-color: $bg-light-grey-color;

        &__title {
            font-size: $h1-font-size-mobile;
            font-weight: $bold-font-weight;
            width: 65%;
        }

        &__subtitle {
            font-size: $medium-title-font-size;
            font-weight: $light-font-weight;
            width: 85%

        }
    }
}

.footer {
    @include flex-col-unset;
    width: 100%;
    background-color: $bg-dark-grey-color;
    color: $white-color;
    gap: $default-gap;
    
    &__logo {
        width: 100px;
        padding: 24px 0 0 24px;
        filter: invert(1);
    }

    &__content {
        @include flex-col-unset;
        width: 80%;
        padding: 0 24px 24px 24px;
        gap: 7px;
    }

}

//////icons footer
.footer__content__icon {
    @include flex-row-unset;
    gap: 11px;
}

//////nav Bar
.navBar {
    @include flex-col-center;
    width: 100%; 

    .nav__logo {   
        width: 45%;
        padding: 22px 0 15px;
    }
    .nav__location {
        @include flex-row-center;
        width: 100%;
        padding: 15px 0;
        gap: 17px;
        background-color: $bg-medium-grey-color;
        color: $bg-dark-grey-color;
        font-size: $small-title-font-size;
        font-weight: $normal-font-weight;

        &__text {
            font-size: $normal-text-font-size;
            font-weight: $medium-font-weight;
        }
    }
  
}

//////Partie uniquement pour la page d'accueil
.main {
    @include flex-col-center;
    width: 100%;
    
    .fonctionnement {
        @include flex-col-unset;
        width: 100%;
        padding: $padding-main-content;
        gap: $default-gap * 2;
        

        &__title {
            @include section-title;
        }

        &__list {
            @include flex-col-center;
            gap: $default-gap + 10;
            padding: 10px 0;
        }

    }

    //////cards restaurants
    .restaurants {
        @include flex-col-center;
        align-items: unset;
        width: 100%;
        gap: 20px;
        background-color: $bg-light-grey-color;
        padding: 45px 0;

        &__title {
            @include section-title;
            
        }
       
        &__cards {
            @include flex-col-center;
            gap: 18px;
            
        }
    }
}

//////Partie uniquement pour la page des recettes
///////
.main__restaurant {
    @include flex-col-unset;
    gap: 20px;
    border: 1px solid black;
    border-radius: $card-radius $card-radius 0  0;
    
}

.restaurant__header {
    @include flex-row-unset;
    width: 90%;
    justify-content: space-between;
    
    .restaurant__name {
        font-size: $h1-font-size-mobile + 4;
        font-family: 'Shrikhand';
        font-weight: $normal-font-weight;
        padding-left: $padding-left-default;
    }

    .restaurant__favorite__page {
        font-size: $h1-font-size-mobile ;
    }
}

}



@media (min-width: 1024px) {

    .footer {
        @include flex-row-unset;
    }}







