.function__description__element {
    @include display-flex(row);
   
    .function__number {
      
        @include display-flex(row, center, center);
        align-self: center;
        min-width: 24px;;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: $white-color;
        background-color: $primary-color;
        z-index: 1;
    }
    .function__content {
        @include display-flex(row);
        width: 100%;
        align-items: center;
        column-gap: 25px;
        padding: 28px 35px 28px 35px;
        margin-left: -10px;
        
        background-color: $bg-light-grey-color;
        border-radius: $fonctionnement-radius;
        box-shadow: $fonctionnement-shadow;
        font-weight: $medium-font-weight; 

        .fa--grey {
            color: $icon-grey-color;
        }
        .function__text {
            font-size: 16px;
        }    
    }
}

.function__description__element:hover {
    .fa--grey {
        color: $primary-color;
    }
}



@media (min-width: $breakpoint-mobile   ) { 
    .function__description__element {
        width: 100%; 
    }
}

@media (max-width: $breakpoint-mobile) {
    .function__content {
    padding: 28px 35px 28px 10px;
    column-gap: 10px;
    }
}

@media (min-width: $breakpoint-desktop) {
    .function__description__element {
        width: 32%;
    }

    .function__content {
        padding: 28px 35px 28px 20px;
    }
}

@media (min-width: $breakpoint-large-desktop) {
    .function__content {
    padding: 28px 35px 28px 25px;
    }
}