.card__dish {
    @include display-flex(row);
    background-color: $white-color;
    border-radius: $card-radius;
    cursor: pointer;

    &__info {
        @include display-flex(row, space-between);
        width: 100%;
        padding: 15px;
        column-gap: 15px;
        // flex-grow: 1;
        // flex-shrink: 1;

        .dish__content {
            flex-grow: 1;
            .dish__title {
                font-size: $medium-title-font-size;
            }

            .dish__description {
                font-size: $normal-text-font-size;
                font-weight: $light-font-weight;
            }
        }

        .dish__price {
            align-self: flex-end;
            font-weight: $bold-font-weight;
        }

    }

    &__checked {
        @include display-flex(row, center);
        align-self: stretch; 
        background-color: $light-green-color; 
        border-radius: 0 15px 15px 0;
        width: 0%;

        transition: all .5s;
       

        .checked__icon {
            align-self: center;
            // color:$white-color;  
            color: transparent; 
            font-weight: $bold-font-weight;
            border: none;
            font-size: 18px;
        }
    }
}

.card__dish:hover {
    .card__dish__info {
        width: calc(85% - 15px);
        max-width: calc(85% - 15px);

        .dish__content {
            .dish__description{
                // @media (max-width:$breakpoint-large-mobile) {
                @media (min-width:$breakpoint-mobile) {
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    }
            
                }
        }
        
    }
    .card__dish__checked{
        @media (min-width:$breakpoint-mobile) {
            width: 15%;
        }
        @media (min-width:$breakpoint-desktop) {
            width: 10%;
        }
            .checked__icon {
                color:$white-color;  
            }
        
    }
}