.card__dish {
    @include display-flex(row,space-between);
    background-color: $white-color;
    border-radius: $card-radius;
    cursor: pointer;

    &__info {
        @include display-flex(row, space-between);
        width: 100%;
        padding: 15px;
        column-gap: 9px;
        overflow: hidden;

        .dish__content {
            width: 80%;

            .dish__title {
            @include overflow-ellipsis;
            font-size: $medium-title-font-size;
            }

            .dish__description {
                @include overflow-ellipsis;
                font-size: $normal-text-font-size - 1px;
                font-weight: $light-font-weight;
            }
        }

        .dish__price {
            align-self: flex-end;
            font-weight: $bold-font-weight;
        }
    }

    &__checked {
        @include display-flex(row, center);
        align-self: stretch; 
        background-color: $light-green-color; 
        border-radius: 0 15px 15px 0;
        width: 0%;
       

        // transition: all ease-out .5s;

        .checked__icon {
            align-self: center;
            color: transparent; 
            font-weight: $bold-font-weight;
            border: none;
            font-size: 18px;
        }
    }
}

.card__dish:hover,
.card__dish:active
 {

    .card__dish__checked{

        @media (min-width:$breakpoint-mobile) {
            animation: check-pop-up-mobile linear .7s;
        }

        @media (min-width:$breakpoint-tablet) {
            animation: check-pop-up-desktop linear .7s;
            // animation: check-pop-up-desktop linear;
        }
        
        .checked__icon {
           animation: btn-check-appear linear .7s;
        }
        
    }
}


@keyframes check-pop-up-mobile {
    from {
        width: 0%;
    }
    to {
        width:20% ;
    }
}

@keyframes check-pop-up-desktop {
    from {
        width: 0%;
    }
    to {
        width:10% ;
    }
}

@keyframes btn-check-appear {
    from {
        color:transparent;
    }
    to {
        color:$white-color;  
    }
}
