.restaurant__card {
    border-radius: $card-radius; 
    background-color: $white-color;
    transition: all .5s;
    
    .restaurant__header {
        @include display-flex(column);

        .restaurant__img {
            border-radius: $card-radius $card-radius 0  0  ;
            height: 190px;
            width: 100%;
            object-fit: cover;
        }
    }

    .restaurant__description {
        @include display-flex(row);
        justify-content: space-between;
        padding: 15px;

        .restaurant__favorite {
            align-self: center;
            font-size: 21px
        }    
    }
    }

.restaurant__card:hover {
    box-shadow: 15px 20px 15px 0px rgba(0, 0, 0, 0.15);
    
}