.icon-favorite {
    @include display-flex (row, center, center);
    cursor: pointer;
    
    .fa-heart--empty {
        color: $black-color;
        font-size: 21px;
    }

    .fa-heart--fill{
        @include background-gradiant-text;
        position: absolute;
        font-size: 21px;
        
        opacity: 0;
    }
}

.icon-favorite:hover {
    .fa-heart--empty {
       opacity: 0;
    }

    .fa-heart--fill{
        opacity: 1;
        animation: fill-heart linear .7s;
    }
}

@keyframes fill-heart {
    from {
        opacity: 0.2
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.3;   
    }
    75% {
        opacity: 0.5;   
    }
    85% {
        opacity: 0.8;   
    }
    to {
        opacity: 1
    }
}