.modal {
    position:fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    opacity: 0;
    z-index: 0;
    background-color: $bg-light-grey-color;

    animation-name: close-modal;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
   


    .spinners {
        @include background-gradiant-text;
        animation-name: spinners;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 5;

    } 

}

