.section__title {
    font-size: $big-title-font-size;
  }
  
.homePage__location {
@include display-flex(row, center, center);
background-color: $bg-medium-grey-color;
width: 100%;
column-gap: 17px;
padding: 15px 0;

font-size: $normal-text-font-size;
font-weight: $medium-font-weight;

    .location__text {
border: none;
background-color: $bg-medium-grey-color;
color: $black-color;
    }

    .location__text::placeholder {
        width: auto;
        color: $black-color;
            }
    .location__text[type="text"] {
        display: flex;
        width: 100px;
       

    }
}

.homePage__presentation {
background-color: $bg-light-grey-color;
    @include display-flex(column, center, center);
    padding: 30px 0;
    text-align: center;
    
    &__title {
        width: 65%;
    }

    &__subtitle {
        font-size: $medium-title-font-size;
        font-weight: $light-font-weight;
        width: 75%;
    }

    @media (min-width: $breakpoint-mobile) {

        &__title {
        font-size: $h1-font-size-mobile;
        padding-bottom: 15px;
        }
        
        &__subtitle {
        padding-bottom: 25px;
        }

    }

    @media (min-width: $breakpoint-desktop) {
        &__title {
        font-size: $h1-font-size-desktop;
        }
    }
}

    