.homePage__function {
    display: flex;

    &__box {
        @include display-flex(column);
        row-gap: 25px;
    }
  }

@media (min-width: $breakpoint-mobile) {
    .homePage__function {
    padding: 45px 0 45px 25px;

        &__box {
            width: 100%;
            padding-right: 25px;
            }
        
        .function__description {
            @include display-flex(column);
            row-gap: 25px;
            padding-right: 20px;
        }
    }
}

// Media queries
@media (min-width: $breakpoint-tablet) and (max-width:1023px ) {
    .homePage__function__box {
        width: 45%;
        margin: auto;
    }
    
    .section__title {
        text-align: center;
    }
}
 
@media (min-width: $breakpoint-desktop) { 
    .homePage__function {
        padding: 50px 50px;
        justify-content: center;


     &__box {
        padding-right: 0;

    .function__description {
        @include display-flex(row);
        column-gap: 25px;
        justify-content: space-between;
        }
     }
   }
}

@media (min-width: $breakpoint-large-desktop) { 
    .homePage__function {
        padding: 50px 180px;

        &__box {
        max-width: 1440px; 
        }
    }
}