.btn {
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 15px 19px;
}

.btn__presentation {
  margin: 10px 0 15px;
}

.btn-nouveau {
  display: flex;
  position: absolute;
  align-self: flex-end;
  background: #99E2D0;
  color: #008766;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  padding: 7px 12px;
  margin: 12px;
}

.fonctionnement__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  padding: 25px 0;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.fonctionnement__card .fonctionnement__stepNumber {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  width: 100%;
  width: 93%;
  position: absolute;
}
.fonctionnement__card .fonctionnement__stepNumber .fa-circle {
  color: #9356DC;
  font-size: 24px;
}
.fonctionnement__card .fonctionnement__stepNumber .stepNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
  position: absolute;
  color: #FFFFFF;
  bottom: 4px;
}
.fonctionnement__card .card__fonctionnement__content {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  width: 100%;
  gap: 20px;
  padding-left: 45px;
}
.fonctionnement__card .card__fonctionnement__content .fonctionnement__text {
  font-size: 16px;
  font-weight: 500;
}

.card__restaurant {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  width: 100%;
  gap: 20px;
  width: 90%;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.card__restaurant .restaurant__img__btn {
  display: flex;
  flex-direction: column;
}
.card__restaurant .restaurant__img__btn .restaurant__img {
  border-radius: 15px 15px 0 0;
  height: 190px;
  width: 100%;
  object-fit: cover;
}
.card__restaurant .restaurant__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}
.card__restaurant .restaurant__content .restaurant__description {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  width: 100%;
  gap: 20px;
  gap: 5px;
  padding-left: 15px;
}
.card__restaurant .restaurant__content .restaurant__favorite {
  font-size: 24px;
  padding: 0 24px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Shrikhand";
}

.mainContainer {
  max-width: 1440px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@media (min-width: 320px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header, .header .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header .presentation {
    text-align: center;
    padding: 40px 0;
    gap: 20px;
    background-color: #F6F6F6;
  }
  .header .presentation__title {
    font-size: 24px;
    font-weight: 700;
    width: 65%;
  }
  .header .presentation__subtitle {
    font-size: 18px;
    font-weight: 300;
    width: 85%;
  }
  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .navBar .nav__logo {
    width: 45%;
    padding: 22px 0 15px;
  }
  .navBar .nav__location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    gap: 17px;
    background-color: #EAEAEA;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
  }
  .navBar .nav__location__text {
    font-size: 16px;
    font-weight: 500;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main .fonctionnement {
    padding: 40px 0;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    gap: 20px;
  }
  .main .fonctionnement__title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 24px;
  }
  .main .fonctionnement__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 10px 0;
  }
  .main .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    gap: 20px;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 45px 0;
  }
  .main .restaurants__title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 24px;
  }
  .main .restaurants__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 18px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    gap: 20px;
    background-color: #353535;
    color: #FFFFFF;
    gap: 20px;
  }
  .footer__logo {
    width: 100px;
    padding: 24px 0 0 24px;
    filter: invert(1);
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    gap: 20px;
    width: 80%;
    padding: 0 24px 24px 24px;
    gap: 7px;
  }
  .link__logo {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    width: 100%;
    gap: 11px;
  }
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
