.btn {
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 15px 19px;
}

.btn__presentation {
  margin: 10px 0 15px;
}

.btn-nouveau {
  display: flex;
  position: absolute;
  align-self: flex-end;
  background: #99E2D0;
  color: #008766;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  padding: 7px 12px;
  margin: 12px;
}

.fonctionnement__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  width: 85%;
  padding: 25px 0;
}
.fonctionnement__card .fonctionnement__stepNumber {
  width: 93%;
  position: absolute;
}
.fonctionnement__card .fonctionnement__stepNumber .fa-circle {
  color: #9356DC;
  font-size: 24px;
}
.fonctionnement__card .fonctionnement__stepNumber .stepNumber {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 6%;
  position: absolute;
  color: #FFFFFF;
  bottom: 4px;
}
.fonctionnement__card .card__fonctionnement__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.fonctionnement__card .card__fonctionnement__content .fonctionnement__text {
  font-size: 16px;
  font-weight: 500;
}

.card__restaurant {
  display: flex;
  flex-direction: column;
  color: #101010;
  text-decoration: none;
  width: 90%;
  gap: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.card__restaurant .restaurant__img__btn {
  display: flex;
  flex-direction: column;
}
.card__restaurant .restaurant__img__btn .restaurant__img {
  border-radius: 15px 15px 0 0;
  height: 190px;
  width: 100%;
  object-fit: cover;
}
.card__restaurant .restaurant__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
.card__restaurant .restaurant__content .restaurant__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
}
.card__restaurant .restaurant__content .restaurant__favorite {
  font-size: 24px;
  padding: 0 24px;
}

.card__menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.card__menus .card__menus__title {
  font-size: 16px;
  font-weight: 300;
  text-decoration: #99E2D0 solid underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}
.card__menus .card__dish__checked {
  display: flex;
  flex-direction: row;
}
.card__menus .card__dish__checked .card__dish__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: #FFFFFF;
  width: 89%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
.card__menus .card__dish__checked .card__dish__price .dish__title {
  font-size: 18px;
  font-weight: 600;
}
.card__menus .card__dish__checked .card__dish__price .dish__description {
  font-size: 15px;
  font-weight: 300;
}
.card__menus .card__dish__checked .card__dish__price .dish__price {
  align-self: end;
  font-weight: 700;
}
.card__menus .card__dish__checked .dish__checked {
  display: flex;
  justify-content: center;
  align-self: stretch;
  width: 18%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.card__menus .card__dish__checked .dish__checked .fa-circle-check {
  align-self: center;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  font-size: 18px;
}

.dish__checked.dish__checked--hidden {
  display: none;
}

.btn__order {
  align-self: center;
  width: 50%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Shrikhand";
}

.mainContainer {
  max-width: 1440px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, .header .presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header .navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 320px) {
  .header .navBar .nav__logo {
    width: 45%;
    padding: 22px 0 15px;
  }
}
@media (min-width: 1024px) {
  .header .navBar .nav__logo {
    width: 20%;
    padding: 30px 0 32px;
  }
}
.header .navBar .nav__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  gap: 17px;
  background-color: #EAEAEA;
  color: #353535;
  font-size: 16px;
  font-weight: 400;
}
.header .navBar .nav__location__text {
  font-size: 16px;
  font-weight: 500;
}
.header .presentation {
  text-align: center;
  padding: 40px 0;
  background-color: #F6F6F6;
}
@media (min-width: 320px) {
  .header .presentation {
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .header .presentation {
    gap: 30px;
  }
}
.header .presentation__title {
  font-weight: 700;
  width: 65%;
}
@media (min-width: 320px) {
  .header .presentation__title {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .header .presentation__title {
    font-size: 40px;
  }
}
.header .presentation__subtitle {
  font-size: 18px;
  font-weight: 300;
  width: 85%;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  gap: 20px;
}
@media (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 0;
    align-items: flex-end;
  }
}
.footer__logo {
  width: 100px;
  filter: invert(1);
}
@media (min-width: 320px) {
  .footer__logo {
    padding: 24px 0 0 24px;
  }
}
@media (min-width: 320px) {
  .footer__logo {
    padding: 24px 24px 0 24px;
  }
}
.footer__content {
  width: 80%;
}
.footer__content .link__icon {
  margin-right: 5px;
  width: 25px;
}
.footer__content .link--bold {
  font-weight: 500;
}
.footer__content .link--light {
  font-weight: 400;
}
@media (min-width: 320px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0 24px 24px 24px;
  }
  .footer__content .links--bold,
  .footer__content .links--light {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}
@media (min-width: 1024px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    justify-content: flex-end;
    gap: 35px;
  }
  .footer__content .links--bold,
  .footer__content .links--light {
    display: flex;
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main .fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  gap: 40px;
}
.main .fonctionnement__title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 24px;
}
.main .fonctionnement__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
}
.main .restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: unset;
  width: 100%;
  gap: 20px;
  background-color: #F6F6F6;
  padding: 45px 0;
}
.main .restaurants__title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 24px;
}
.main .restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.nav__logo__page {
  width: 45%;
}

.main__restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.main__restaurant__img {
  z-index: 0;
}
.main__restaurant__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  padding: 30px 0 40px;
  margin-top: -45px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  z-index: 2;
}

.header__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 24px 0 10px 0;
  width: 100%;
}
.header__restaurant .navBar__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.header__restaurant .navBar__restaurant .fa-arrow-left {
  align-self: baseline;
  position: absolute;
  font-size: 24px;
  left: 17px;
}

.svg__arrow__back {
  color: #101010;
  text-decoration: none;
}

.restaurant__header {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.restaurant__header .restaurant__name {
  font-size: 28px;
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 24px;
}
.restaurant__header .restaurant__favorite__page {
  font-size: 24px;
  align-self: center;
}

.restaurant__menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
